// Main sizes
$smallContainer: 1240px;
$container: 1440px;

// Fonts
$Montserrat: 'Montserrat', 'sans-serif';
$Roboto: 'Roboto', 'sans-serif';

// Colors
$primary: #0049AF;
$secondary: #F4F4F4;

$white: #fff;
$black: #000;

$text: rgba(0, 0, 0, 0.8);

// Font Weights
$fontThin: 100;
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;
