// Main sizes
$containerSize: 1240px;
$largeContainerSize: 1440px;

// Fonts
$Montserrat: 'Montserrat', 'sans-serif';

// Colors
$primary: #849cf4;
$secondary: #fdffa1;

// Font Weights
$fontThin: 100;
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;
